.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 5rem;
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.5;
  gap: 0.5rem;
  margin-top: 3rem;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.avatar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  gap: 1rem;
}

.highlights {
  width: 67%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--light-red);
    margin: 0.25rem;
  }
}

.image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: var(--light-red);
}

.textContainer {
  width: 67%;
}

.description strong {
  color: var(--light-red);
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;

  border: 1px solid var(--red);
  border-radius: 0.75rem;
  box-shadow: 0px 0px 4px var(--red);

  svg {
    width: 3rem;
    height: 3rem;
    color: var(--light-red);
    filter: drop-shadow(0 0 0.1rem var(--red));
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.strong {
  color: var(--light-red);
  font-size: 1.75rem;
}

.text {
  text-align: center;
}
