.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 5rem;
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.5;
  gap: 0.5rem;
  margin-top: 3rem;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.avatar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  gap: 1rem;
}

.highlights {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.75rem;
  border-radius: 0.5rem;
  background: linear-gradient(-135deg, #0b0b0b 0%, rgb(45, 0, 0) 100%);
  border: 1px solid #3a000099;
  font-weight: 600;
  width: 100%;
  transition: box-shadow 140ms ease, transform 140ms ease;
}

.list li svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--light-red);
  margin: 0.25rem;
}

.image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(82, 2, 2, 0.5);
  position: relative;

  img {
    object-fit: cover;
    border-radius: 50%;
    object-position: 0 calc(0% - 13px);
  }
}

.textContainer {
  width: 67%;
}

.textContainer h2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #5b5b5b4e;
  width: fit-content;
}

.description strong {
  color: var(--light-red);
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;

  border: 1px solid #3a000099;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 1px var(--red);
  background: linear-gradient(135deg, #0b0b0b 0%, rgb(45, 0, 0) 100%);

  svg {
    width: 3rem;
    height: 3rem;
    color: var(--light-red);
    filter: drop-shadow(0 0 0.1rem var(--red));
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.strong {
  color: var(--light-red);
  font-size: 1.75rem;
}

.text {
  text-align: center;
}
