.container {
  background-color: grey;
  padding: 1.25rem;
  border-radius: 0.75rem;
}

.timeUnit {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.timeLabel {
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}
